@*@{
	ViewData["Title"] = "About PokéDex";
}*@

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="content-title">
					<h1>About <span>PokéDex</span></h1>
					<br />
					<h3>www.github.com/chriritt</h3>

					<br />
					<p>This web application was built using <b>PokeApiNet</b> which was built by mtrdp642 on GitHub. Mtrdp642 also created a handy NuGet package to facilitate easier use of the API.</p>

					<p>The user interface of the PokéDex was designed with Figma and developed in Visual Studio using ASP.Net MVC using Entity Framework for database access.</p>

					<p><strong>Features Implemented</strong></p>

					<p>I can be contacted via the social pages below:</p>

					<div class="about-icons">
						<ul>
							<li><a href="https://github.com/chriritt" target="_blank"><i id="github" class="bx bxl-github"></i></a> </li>
							<li><a href="https://twitter.com/chrisritterdev" target="_blank"><i id="twitter" class="bx bxl-twitter"></i></a> </li>
							<li><a href="https://www.linkedin.com/in/chriswritter/" target="_blank"><i id="linkedin" class="bx bxl-linkedin"></i></a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
