<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">

				<div class="content-title">
					<h1>Here's a list of ' <span>Pokémon you have caught</span>!</h1>
					<br />
					<h3>Good job!</h3>

					<br />
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>