@{
	ViewData["Title"] = "Pokemon";
}

<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">

				<div class="content-title">
					<h1>Welcome to the world of <span>Pokémon</span>!</h1>
					<br />
					<h3>What is a Pokémon?</h3>

					<br />
					<p>Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings.</p>
				</div>
			</div>
		</div>
	</div>
</div>


