@{
	ViewData["Title"] = "My Teams";
}

@model List<Pokedex.Models.Pokemon>


<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="content-title">
					<h1>Build an <span>Unbeatable </span>Team</h1>
					<br />
					<h3>How strong will your Pokémon Battle Team be?</h3>

					<br />
					<p>Build your team of 6 Pokémon, build just one or a team for any situation.
				</div>
			</div>
		</div>
	</div>
</div>