@{
	ViewData["Title"] = "Pokemon";
}


<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">

				<div class="content-title">
					<h1>List of <span>Pokémon</span> registered in the Pokédex!</h1>
					<br />
					<h3>Gotta catch 'em all!</h3>

					<br />
					<p>Add a Pokémon to your Battle Team or mark them as caught!</p>
				</div>
			</div>
		</div>
	</div>
</div>