@{
	ViewData["Title"] = "Pokemon";
}

@*@model List<Pokedex.Models.Pokemon>*@

<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">

				<div class="content-title">
					<h1>List of <span>Pokémon</span> registered in the Pokédex!</h1>
					<br />
					<h3>Gotta catch 'em all!</h3>

					<br />
					<p>Add a Pokémon to your Battle Team or mark them as caught!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pokemon-search">
		<div class="search-box">
		@*<img class="icon-png" src="/assets/nav-icons/magnifier.png" alt="Search for a Pokemon"/>*@
		<input type="text" placeholder="Search for a Pokémon by Name or ID">
		</div>
</div>



<div class="pokemon-list-container">
  <ul class="pokemon-table">
	<li class="table-header">
		  <div class="col col-1">Sprite</div>
		  <div class="col col-2">Pokemon Name</div>
		  <div class="col col-3">Caught?</div>
		  <div class="col col-4">Add to Team?</div>
	</li>
	@for (int i = 0; i < Model.Count; i++) {
			<li class="table-row">
				<div class="col col-1" data-label="Sprite">@Html.Raw($" <img src=\"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{i + 1}.png\" alt=\"{@Model[i].name}\"/> ")</div>
				<div class="col col-2" data-label="Pokemon Name">@Model[i].name</div>
				<div class="col col-3" data-label="Caught"><i id="heart" class='bx bx-heart'></i></div>
				<div class="col col-4" data-label="Add to Team"><button class="solid-button">Add to Team</button></div>
			</li>
	}
		</ul>

</div>

<script src="lib/jquery/dist/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('.form-control.search').on("keyup", function(){
			var poke_search = $(this).val().toLowerCase();
			$("#upper").children().each(function() {
			  var stringData = $(this).children().children("p").text();
			  console.log("AAA")
			  console.log(stringData)
			  if(stringData.indexOf(poke_search) == -1){
				  $(this).hide();
			  }else{

				  $(this).show();
			  }
			})
		})
	})
</script>